{{>header}}
{{>navbar}}
<section class="container my-3">
    <h3>customer Name: {{customer.name}}</h3>
    <h4>Balance: {{customer.balance}}</h4>
    <h4>accNum: {{customer.accNum}}</h4>
    <h4>Status: {{customer.status}}</h4>

</section>
{{>footer}}
