{{>header}}
{{>navbar}}

<section class="container my-3">
    <form method="post">
        <div class="row">
            <div class="mb-3 col-6">
                <label class="label-control mb-2">Name</label>
                <input placeholder="name" class="form-control" value="{{customer.name}}" name="name">
            </div>
            <div class="mb-3 col-6">
                <label class="label-control mb-2">Balance</label>
                <input placeholder="balance" class="form-control" value="{{customer.balance}}" name="balance">
            </div>
            <div class="mb-3 col-6">
                <label class="label-control mb-2">status</label>
                <input placeholder="status" class="form-control" value="{{customer.status}}" name="status">
            </div>

            <div class="mb-3 col-12">
                <button class="btn btn-primary">update customer </button>
            </div>

        </div>
    </form>
</section>
{{>footer}}
